div {
   
    background-color: red;
   
  }
  
  .cs {
    background-color: #fff8dc; 
    border: 2px;
    border-style: solid;
    border-color: orange;
    padding: 20px;
    width: fit-content;
    margin:100px auto;
  }
  
  .as {
    background-color: #333333;
    color: white;
    padding: 10px ;
    margin: 10px;
    display: inline-block;
    
  }
  .s{
    background-color: chocolate;
    height: 100px;
    width: 100px;
    margin: 5px;
    
  }
  .p{
    background-color: rgb(210, 30, 150);
    height: 100px;
    width: 100px;
    margin: 5px;
   

  }
  h1{
    color: cadetblue;
    position: fixed;
  }
  
  